@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap");
header {
  width: 750px;
  height: 144px;
  margin: 120px 277px 70px 80px;
  font-family: Exo2;
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: -0.72px;
  text-align: left;
  color: #000;
}
